<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Application>WPS Office WWO_wpscloud_20260408181739-2e61b06350</Application><HeadingPairs><vt:vector size="2" baseType="variant"><vt:variant><vt:lpstr>工作表</vt:lpstr></vt:variant><vt:variant><vt:i4>9</vt:i4></vt:variant></vt:vector></HeadingPairs><TitlesOfParts><vt:vector size="9" baseType="lpstr"><vt:lpstr>基本规则</vt:lpstr><vt:lpstr>检定规则</vt:lpstr><vt:lpstr>战斗规则</vt:lpstr><vt:lpstr>升级规则</vt:lpstr><vt:lpstr>兼职规则</vt:lpstr><vt:lpstr>幕间规则</vt:lpstr><vt:lpstr>技能点规则</vt:lpstr><vt:lpstr>异常状态规则</vt:lpstr><vt:lpstr>关键词规则</vt:lpstr></vt:vector></TitlesOfParts></Properties>